@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root {
  --green-primary: #096828; 
}

.css-319lph-ValueContainer {
  padding: 0 !important;
}
.css-1s2u09g-control, .css-1pahdxg-control {
  border-color: hsl(0, 0%, 80%)  !important;
  border-radius: 0  !important;
  border-style: solid  !important;
  border-width: 0  !important;
  box-shadow: none  !important;
}
.css-1okebmr-indicatorSeparator {
  background-color: white  !important;
}
.css-tlfecz-indicatorContainer, .css-1gtu0rj-indicatorContainer {
  padding: 4px !important;
  color: black !important;
  position: absolute !important;
  right: -2px !important;
}
.css-1hb7zxy-IndicatorsContainer {
  align-items: flex-end !important;
}
